@import url('../node_modules/simpledotcss/simple.min.css');

@media (prefers-color-scheme: dark) {
  :root {
    --accent: #BA90C6;
  }
}
body {
  line-height: 1.7;
  font-size: 1.4rem;
  grid-template-columns: 1fr 4fr 1fr;
}
body > div {

  min-height: 100vh
}
h1 {
  margin: 1.2em 0 .5em 0;
  color:purple;
}